{block title}
Magazine
{/block}
{block content}

<article n:foreach="$magazine as $magazine">

    <h1>{$magazine->title}</h1>
    <p>{!$magazine->description|texy}</p><br/>
    {!$magazine->code}

</article>