{* Latte template *}

{block content}

<article n:foreach="$updates as $update">
    <h1>{$update->title|firstUpper}</h1>
    <div class="info">Přidal {$update->staff->users->username}  dne {$update->created_at|date:'F j, Y'}</div>
    <div class="description">{!$update->content|texy}</div>
    <br/>
    <a href="{link Updates:show $update->id}">Číst více...</a>
</article>