{* Latte template *}

{block content}
<p><a n:href="Updates:">← zpět na výpis příspěvků</a></p></br>
<article>
    <h1>{$post->title|firstUpper}</h1>
    <div class="info">Přidal {$update->staff->users->username} dne {$post->created_at|date:'F j, Y'}</div>
    <div class="description">{!$post->content|texy}</div>
</article>
