{layout '../@admin.latte'}

{block title}
Přihlášení
{/block}

{block content}

<h1>Přihlášení</h1>

{form signInForm class => 'form-horizontal'}
    <ul class=error n:if="$form->ownErrors">
        <li n:foreach="$form->ownErrors as $error">{$error}</li>
    </ul>

    <div class="form-group">
        <label for="inputUsername" class="col-sm-2 control-label">{label username /}</label>
        <div class="col-sm-10">
            {input username}
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">{label password /}</label>
        <div class="col-sm-10">
            {input password}
        </div>
    </div>
    <div class="form-group">
        <label for="inputRemember" class="col-sm-2 control-label">{label remember /}</label>
        <div class="col-sm-10">
            {input remember}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            {input send}
        </div>
    </div>
    <p class="help-block">admin : root</p>
{/form}
