{layout '../@admin.latte'}

{block title}
Add Avatar
{/block}

{block head}
{/block}

{block content}

<h1>Add Avatar</h1>

{form addAvatar class => 'form-horizontal'}
    <ul class="errors" n:if="$form->hasErrors()">
        <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
    </ul>

    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">{label name /}</label>
        <div class="col-sm-10">
            {input name}
        </div>
    </div>
    <div class="form-group">
        <label for="inputUpload" class="col-sm-2 control-label">{label image /}</label>
        <div class="col-sm-10">
            {input image}
            <p class="help-block">Avataři jsou 150×150px. <b>DOPORUČENÍ</b>: avatary vkládat s průhledným pozadím</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            {input send}
        </div>
    </div>
{/form}