{layout '../@admin.latte'}

{block title}
Add Staff
{/block}

{block head}

<!-- Image selec -->
<link rel="stylesheet" type="text/css" href="{$basePath}/css/iconselect.css" >
<script type="text/javascript" src="{$basePath}/js/control/iconselect.js"></script>
<script type="text/javascript" src="{$basePath}/js/iscroll.js"></script>
<script>

    var iconSelect;
    var avatar;
    window.onload = function() {

    avatar = document.getElementById('avatar');
            document.getElementById('my-icon-select').addEventListener('changed', function(e) {
    avatar.value = iconSelect.getSelectedValue();
            })

            iconSelect = new IconSelect("my-icon-select",
    {'selectedIconWidth': 48,
                            'selectedIconHeight': 48,
                            'selectedBoxPadding': 1,
                            'iconsWidth': 48,
                            'iconsHeight': 48,
                            'boxIconSpace': 1,
                            'vectoralIconNumber': 2,
                            'horizontalIconNumber': 6});
            var icons = [];
    {foreach $avatars as $avatar}
                                icons.push({'iconFilePath': {$basePath} + '/img/avatars/{!$avatar->name}.png', 'iconValue': {$avatar->id}});
    {/foreach}

                        iconSelect.refresh(icons);
                            };
                            IconSelect.COMPONENT_ICON_FILE_PATH = {$basePath} + "/img/arrow.png";
</script>
{/block}

{block content}

<h1>Přidat nového člena</h1>
{form addStaff class => 'form-horizontal'}
    <ul class="errors" n:if="$form->hasErrors()">
        <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
    </ul>

    <div class="form-group">
        <label for="inputNickname" class="col-sm-2 control-label">{label nickname /}</label>
        <div class="col-sm-10">
            {input nickname}
        </div>
    </div>
    <div class="form-group">
        <label for="inputRealName" class="col-sm-2 control-label">{label realName /}</label>
        <div class="col-sm-10">
            {input realName}
        </div>
    </div>
    <div class="form-group">
        <label for="inputAge" class="col-sm-2 control-label">{label age /}</label>
        <div class="col-sm-10">
            {input age}
        </div>
    </div>
    <div class="form-group">
        <label for="inputRank" class="col-sm-2 control-label">{label rank /}</label>
        <div class="col-sm-10">
            {input rank}
        </div>
    </div>
    <div class="form-group">
        <label for="inputRank" class="col-sm-2 control-label">Avatar</label>
        <div class="col-sm-10">
            <div id="my-icon-select" class="icon-select"></div>
        </div>
    </div>
    <div id="my-icon-select" class="icon-select"></div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            {input send}
        </div>
    </div>
{/form}