{layout '../@admin.latte'}

{block title}
Add Update
{/block}

{block content}
<h1>Přidat nový update</h1>

{form addUpdate class => 'form-horizontal'}
        <ul class="errors" n:if="$form->hasErrors()">
            <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
        </ul>

    <div class="form-group">
        <label for="inputTitle" class="col-sm-2 control-label">{label title /}</label>
        <div class="col-sm-10">
            {input title}
        </div>
    </div>
    <div class="form-group">
        <label for="inputContent" class="col-sm-2 control-label">{label content /}</label>
        <div class="col-sm-10">
            {input content, rows=>10}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            {input send}
        </div>
    </div>
{/form}

{include './texy-syntax.latte'}

