{layout '../@admin.latte'}

{block title}
Avatars
{/block}

{block head}

{/block}

{block content}
<div class="add-new">
    <a href="{link Admin:addAvatar}"><button type="button"
                                             class="btn btn-success btn-lg
                                             btn-block">
            Přidat avatara</button></a>
</div>
<hr>

<h1>Aktuální avataři</h1>
<div id="accordion">
    {if count($avatars)}
        {foreach $avatars as $avatar }
            <h2><a class="showArticle" for="{$avatar->id}">{$avatar->name|firstUpper} <i class="icon-down-open"></i></a></h2>

            <article id="{$avatar->id}">
                <img src="{$basePath}/{$avatar->url}" alt="{$avatar->alt}">
                <footer>
                    <a href="{link deleteAvatar, $avatar->id}">
                        <span class="glyphicon glyphicon-minus-sign"></span> smazat
                    </a>
                </footer>
            </article>

        {/foreach}
    {else}
        Zatím nebyl přidán žádný <b>avatar</b>! Zkuste nějakého přidat
    {/if}

    <script>
        $("article").hide();

        $(".showArticle").click(function() {
    var elt = $(this).attr('for');
            $("#" + elt).toggle("blind", 1000);
            $("i", this).toggleClass("icon-up-open icon-down-open");
        });
    </script>