{layout '../@admin.latte'}

{block title}
Edit Update
{/block}
{block content}

<h1>Editovat update</h1>
{form addUpdate class => 'form-horizontal'}
    <div class="form-group">
        <label for="inputTitle" class="col-sm-2 control-label">{label title /}</label>
        <div class="col-sm-10">
            {input title}
        </div>
    </div>
    <div class="form-group">
        <label for="inputContent" class="col-sm-2 control-label">{label content /}</label>
        <div class="col-sm-10">
            {input content, rows=>10}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            {input send}
        </div>
    </div>
{/form}


{include './texy-syntax.latte'}