{layout '../@admin.latte'}

{block title}
Add Slide
{/block}

{block head}

<script type="text/javascript">
    $(document).ready(function() {
        $("[name='visible']").bootstrapSwitch();
            });
</script>
{/block}

{block content}

<h1>Edit slide</h1>

{form addSlide class => 'form-horizontal'}
    <ul class="errors" n:if="$form->hasErrors()">
        <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
    </ul>

    <div class="form-group">
        <label for="inputTitle" class="col-sm-2 control-label">{label title /}</label>
        <div class="col-sm-10">
            {input title}
        </div>
    </div>
    <div class="form-group">
        <label for="inputAlt" class="col-sm-2 control-label">{label alt /}</label>
        <div class="col-sm-10">
            {input alt}
        </div>
    </div>
    <div class="form-group">
        <label for="inputVisible" class="col-sm-2 control-label">{label visible /}</label>
        <div class="col-sm-10">
            {input visible}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            {input send}
        </div>
    </div>
{/form}

<script type="text/javascript">
    $(document).ready(function() {
      $(".toggle").toggles({
        width: 50,
                    height: 20,
                    checkbox: "#visible",
                    text: {
          on: "ANO",
                          off: "NE"
                      }
                  });
              });
              $('.toggle').on('toggle', function(e, active) {
      if (active) {
          console.log("Aktivní");
                  } else {
          console.log("Neaktivní");
                  }
              });
</script>