{layout '../@admin.latte'}

{block title}
Add FAQ
{/block}

{block content}

<h1>FAQ add</h1>

{form addFaq class => 'form-horizontal'}
    <ul class="errors" n:if="$form->hasErrors()">
        <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
    </ul>

    <div class="form-group">
        <label for="inputTitle" class="col-sm-2 control-label">{label question /}</label>
        <div class="col-sm-10">
            {input question}
        </div>
    </div>
    <div class="form-group">
        <label for="inputContent" class="col-sm-2 control-label">{label answer /}</label>
        <div class="col-sm-10">
            {input answer, rows => 10}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            {input send}
        </div>
    </div>
{/form}

{include './texy-syntax.latte'}