{layout '../@admin.latte'}

{block title}
FAQ
{/block}

{block content}

<div class="add-new">
    <a href="{link Admin:addFaq}"><button type="button"
                                          class="btn btn-success btn-lg
                                          btn-block">
            Přidat novou radu do FAQ</button></a>
    <hr>

    <h1>Napsané FAQ</h1>
    <div id="accordion">

        {foreach $faq as $faq }
            <h2><a class="showArticle" for="{$faq->id}">{$faq->question|firstUpper} <i class="icon-down-open"></i></a></h2>

            <article id="{$faq->id}">
                {!$faq->answer|texy}
                <footer>
                    <a href="{link deleteFaq, $faq->id}">
                        <span class="glyphicon glyphicon-minus-sign"></span> smazat
                    </a> |
                    <a href="{link editFaq, $faq->id}">
                        <span class="glyphicon glyphicon-pencil"></span> upravit
                    </a>
                </footer>
            </article>

        {/foreach}

        <script>
            $("article").hide();

            $(".showArticle").click(function() {
        var elt = $(this).attr('for');
                $("#" + elt).toggle("blind", 1000);
                $("i", this).toggleClass("icon-up-open icon-down-open");
            });
        </script>