{layout '../@admin.latte'}

{block title}
Magazine
{/block}

{block content}

<div class="add-new">
    <a href="{link Admin:addMagazine}"><button type="button"
                                               class="btn btn-success btn-lg
                                               btn-block">
            Přidat nové číslo časopisu</button></a>
</div>
<hr>


<h1>Magazine</h1>
<div id="accordion">

    {foreach $magazine as $magazine }
        <h2><a class="showArticle" for="{$magazine->id}">{$magazine->title|firstUpper} <i class="icon-down-open"></i></a></h2>

        <article id="{$magazine->id}">
            {!$magazine->code}
            {!$magazine->description|texy}
            <footer>
                <a href="{link deleteMagazine, $magazine->id}">
                    <span class="glyphicon glyphicon-minus-sign"></span> smazat
                </a> |
                <a href="{link editMagazine, $magazine->id}">
                    <span class="glyphicon glyphicon-pencil"></span> upravit
                </a>
            </footer>
        </article>

    {/foreach}

    <script>
        $("article").hide();

        $(".showArticle").click(function() {
    var elt = $(this).attr('for');
            $("#" + elt).toggle("blind", 1000);
            $("i", this).toggleClass("icon-up-open icon-down-open");
        });
    </script>