{layout '../@admin.latte'}

{block title}
Slider
{/block}

{block content}

<div class="add-new">
    <a href="{link Admin:addSlide}"><button type="button"
                                            class="btn btn-success btn-lg
                                            btn-block">
            Přidat slide</button></a>
</div>
<hr>

<h1>Aktuální slidy</h1>
<div id="accordion">
    {if count($slides)}
        {foreach $slides as $slide }
            <h2><a class="showArticle" for="{$slide->id}">#{$slide->id} {$slide->title|firstUpper} <small>| {if ($slide->visible == 1)} veřejné {else} skryté{/if}</small>   <i class="icon-down-open"></i></a></h2>

            <article id="{$slide->id}">
                {$slide->alt}<br/>
                <img src="{$basePath}/{$slide->preview_url}" alt="{$slide->alt}">
                <footer>
                    <a href="{link deleteSlide, $slide->id}">
                        <span class="glyphicon glyphicon-minus-sign"></span> smazat
                    </a> |
                    <a href="{link editSlide, $slide->id}">
                        <span class="glyphicon glyphicon-pencil"></span> upravit
                    </a>
                </footer>
            </article>

        {/foreach}
    {else}
        Zatím nebyl přidán žádný <b>slide</b>! Zkuste nějaký přidat
    {/if}

    <script>
        $("article").hide();

        $(".showArticle").click(function() {
    var elt = $(this).attr('for');
            $("#" + elt).toggle("blind", 1000);
            $("i", this).toggleClass("icon-up-open icon-down-open");
        });
    </script>

</div>