{layout '../@admin.latte'}

{block title}
Staff
{/block}

{block memberRow}
<article class="staff" id="{$data->rank}">
    <img src="{$basePath}/img/avatars/avatar{$data->avatar}.png" class="avatar">
    <h2><img src="{$basePath}/img/ranks/{$data->rank->name|lower|toAscii}-rank.png">{$data->users->username}</h2>
    <div>{$data->realname}</div>
    <div>Věk: {if ($data->age == 0)} Je nesmrtelný{else}{$data->age} let{/if}</div>
    <div class="rank">Hodnost: {$data->rank->name}</div>
    <footer>
        <hr/>
        <a href="{link deleteStaff, $data->id}">
            <span class="glyphicon glyphicon-minus-sign"></span> smazat
        </a> |
        <a href="{link editStaff, $data->id}">
            <span class="glyphicon glyphicon-pencil"></span> upravit
        </a>
    </footer>
</article>
{/block}

{block content}

<div class="add-new">
    <a href="{link Admin:addStaff}"><button type="button"
                                            class="btn btn-success btn-lg
                                            btn-block">
            Přidat nového člena</button></a>
    <hr>
</div>

<h1>Členové</h1>
<div class="staff">
    <h2><a class="showSection" for="Host-Co-Host">Host, Co-Host <i class="icon-down-open"></i></a></h2>
            {if count($hosts)}
        <section class="staff" id="Host-Co-Host">
            {foreach $hosts as $data}
                {include #memberRow, $data}
            {/foreach}
        </section>
    {else}
        <section class="staff" id="Host-Co-Host">
            Zatím nebyl přidán žádný člen s hodnoustí <b>Host nebo Co-Host</b>!
        </section>
    {/if}

    <h2><a class="showSection" for="Manager">Managers <i class="icon-down-open"></i></a></h2>
            {if count($managers)}
        <section class="staff" id="Manager">
            {foreach $managers as $data}
                {include #memberRow, $data}
            {/foreach}
        </section>
    {else}
        <section class="staff" id="Manager">
            Zatím nebyl přidán žádný člen s hodnoustí <b>Manager</b>!
        </section>
    {/if}

    <h2><a class="showSection" for="Bouncer">Bouncers <i class="icon-down-open"></i></a></h2>
            {if count($bouncers)}
        <section class="staff" id="Bouncer">
            {foreach $bouncers as $data}
                {include #memberRow, $data}
            {/foreach}
        </section>
    {else}
        <section class="staff" id="Bouncer">
            Zatím nebyl přidán žádný člen s hodnoustí <b>Bouncer</b>!
        </section>
    {/if}

    <h2><a class="showSection" for="Resident-DJ">Resident DJ <i class="icon-down-open"></i></a></h2>
            {if count($dj)}
        <section class="staff" id="Resident-DJ">
            {foreach $dj as $data}
                {include #memberRow, $data}
            {/foreach}
        </section>
    {else}
        <section class="staff" id="Resident-DJ">
            Zatím nebyl přidán žádný člen s hodnoustí <b>Resident DJ</b>!
        </section>
    {/if}

</div>


<script>
    $("section").hide();

    $(".showSection").click(function() {
    var elt = $(this).attr('for');
            $("#" + elt).toggle("blind");
            $("i", this).toggleClass("icon-up-open icon-down-open");
        });
</script>
