{layout '../@admin.latte'}

{block title}
Add Staff
{/block}

{block head}

<!-- Image selec -->
<link rel="stylesheet" type="text/css" href="{$basePath}/css/iconselect.css" >
<script type="text/javascript" src="{$basePath}/js/control/iconselect.js"></script>
<script type="text/javascript" src="{$basePath}/js/iscroll.js"></script>
<script>

    var iconSelect;

    window.onload = function() {

                iconSelect = new IconSelect("my-icon-select",
    {'selectedIconWidth': 48,
                            'selectedIconHeight': 48,
                            'selectedBoxPadding': 1,
                            'iconsWidth': 48,
                            'iconsHeight': 48,
                            'boxIconSpace': 1,
                            'vectoralIconNumber': 2,
                            'horizontalIconNumber': 6});

                        var icons = [];
                                icons.push({'iconFilePath': {$basePath} + '/img/avatars/avatar1.png', 'iconValue': '1'});
                                icons.push({'iconFilePath': {$basePath} + '/img/avatars/avatar2.png', 'iconValue': '2'});
                                iconSelect.refresh(icons);

                    };

                    IconSelect.COMPONENT_ICON_FILE_PATH = {$basePath} + "/img/arrow.png";
</script>
{/block}

{block content}

<h1>Přidat nového člena</h1>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="inputNickname" class="col-sm-2 control-label">Přezdívka</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputNickname" placeholder="Přezdívka">
        </div>
    </div>
    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Křestní jméno</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputName" placeholder="Křestní jméno">
            <p class="help-block">Není povinné.</p>
        </div>
    </div>
    <div class="form-group">
        <label for="inputAge" class="col-sm-2 control-label">Věk</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputAge" placeholder="Věk">
            <p class="help-block">Není povinné.</p>
        </div>
    </div>
    <div class="form-group">
        <label for="inputRank" class="col-sm-2 control-label">Hosnost</label>
        <div class="col-sm-10">
            <select class="form-control" id="inputRank">
                <option>Resident DJ</option>
                <option>Bouncer</option>
                <option>Manager</option>
                <option>Co-Host</option>
                <option>Host</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputAvatar" class="col-sm-2 control-label">Avatar</label>
        <div class="col-sm-10">
            <div id="my-icon-select"></div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-primary btn-lg">Přidat</button>
        </div>
    </div>
</form>

