{layout '../@admin.latte'}

{block title}
Updates
{/block}
{block content}

<div class="add-new">
    <a href="{link Admin:addUpdate}"><button type="button"
                                             class="btn btn-success btn-lg
                                             btn-block">
            Přidat nový update</button></a>
    <hr>
</div>




{foreach $updates as $update }
    <h2><a class="showArticle" for="{$update->id}">{$update->title|firstUpper} <i class="icon-down-open"></i></a></h2>

    <article id="{$update->id}">
        {!$update->content|texy}
        <footer>
            <a href="{link deleteUpdate, $update->id}">
                <span class="glyphicon glyphicon-minus-sign"></span> smazat
            </a> |
            <a href="{link editUpdate, $update->id}">
                <span class="glyphicon glyphicon-pencil"></span> upravit
            </a>
        </footer>
    </article>

{/foreach}

<script>
    $("article").hide();

    $(".showArticle").click(function() {
        var elt = $(this).attr('for');
                $("#" + elt).toggle("blind", 1000);
                $("i", this).toggleClass("icon-up-open icon-down-open");
            });
</script>