{block head}
<!-- Admin Framework CSS -->
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src = "//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js" ></script>
<!-- Písmo -->
<link rel="stylesheet" href="{$basePath}/css/fontello.css">
{/block}

{block title}
FAQ
{/block}

{block content}
<div id="accordion">
    {foreach $faq as $faq }

        <h2><a class="showAnswer" for="{$faq->id}">{$faq->question|firstUpper} <i class="icon-down-open"></i></a></h2>

        <article id="{$faq->id}">
            {!$faq->answer|texy}
        </article>

    {/foreach}
</div>
<script>
    $("article").hide();

    $(".showAnswer").click(function() {
           var elt = $(this).attr('for');
                   $("#" + elt).toggle("blind");
                   $("i", this).toggleClass("icon-up-open icon-down-open");
               });
</script>