
{block content}



<article n:foreach="$posts as $post">
    <h1>{$post->title|firstUpper}</h1>
    <div class="info">Přidal {$post->staff->users->username} dne {$post->created_at|date:'F j, Y'}</div>
    <div class="description">{!$post->content|texy}</div>
</article>

{/block}
