<!doctype html>
<html lang="cs">
    <head>
        <meta charset="utf-8">
        <title>{block title|striptags}{/block} - Maz'Armystrace</title>
        <!-- Admin Framework CSS -->
        <script src="{$basePath}/js/jquery-1.11.0.min.js"></script>
        <script src="{$basePath}/js/jquery-ui.min.js"></script>
        <script src="{$basePath}/js/bootstrap.min.js"></script>
        <script src="{$basePath}/js/bootstrap-switch.js"></script>
        <link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css">
        <link rel="stylesheet" href="{$basePath}/css/bootstrap-responsive.min.css">
        <link href="{$basePath}/css/bootstrap-switch.css" rel="stylesheet">
        <!-- Písmo -->
        <link rel="stylesheet" href="{$basePath}/css/fontello.css">
        <!-- Hlavní CSS pro administraci -->
        <link rel="stylesheet" href="{$basePath}/css/admin.css">
        {block head}{/block}


    </head>
    <body>
        <div class="wrapper">
            <div class="upper-panel">
                {if $user->isLoggedIn()}
                    <a href="{link Admin:}" class="navbar-brand-left"> Administrace</a>
                    <div class="user-panel dropdown">
                        <a data-toggle="dropdown" class="navbar-brand-right" href="#">
                            <i class="icon-user"></i>
                            {$user->getIdentity()->username|firstUpper}

                            <i class="icon-down-open"></i></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a href="#"><i class="icon-user"></i> Profil</a></li>
                            <li><a href="#"><i class="icon-cog"></i> Nastavení </a></li>
                            <li class="divider"></li>
                            <li><a n:href="Sign:logout"><i class="icon-off"></i> Odhlásit</a></li>
                        </ul>
                        <a href="{link Homepage:}" class="navbar-brand-right"><i class="icon-left-open"></i> Zpět na web</a>
                    </div>

                </div>
                <div class="left-panel">
                    <nav>
                        <ul>
                            <a href="{link Admin:updates}"
                               {ifCurrent Admin:updates} class="active"{/ifCurrent}
                               {ifCurrent Admin:addUpdate} class="active"{/ifCurrent}
                               ><li>Updates</li></a>

                            <a href="{link Admin:staff}"
                               {ifCurrent Admin:staff} class="active"{/ifCurrent}
                               {ifCurrent Admin:addStaff}class="active"{/ifCurrent}
                               ><li>Staff</li></a>

                            <a href="{link Admin:faq}"
                               {ifCurrent Admin:faq} class="active"{/ifCurrent}
                               {ifCurrent Admin:addFaq} class="active"{/ifCurrent}
                               ><li>FAQ</li></a>

                            <a href="{link Admin:slider}"
                               {ifCurrent Admin:slider} class="active"{/ifCurrent}
                               {ifCurrent Admin:addSlide} class="active"{/ifCurrent}
                               ><li>Slider</li></a>

                            <a href="{link Admin:magazine}"
                               {ifCurrent Admin:magazine} class="active"{/ifCurrent}
                               {ifCurrent Admin:addMagazine} class="active"{/ifCurrent}
                               ><li>Magazine (není funkční)</li></a>

                            <a href="{link Admin:avatars}"
                               {ifCurrent Admin:avatars} class="active"{/ifCurrent}
                               {ifCurrent Admin:addAvatar} class="active"{/ifCurrent}
                               ><li>Avatars (není funkční)</li></a>
                        </ul>
                    </nav>
                </div>
            {else}
                <a href="{link Homepage:}" class="navbar-brand-right"><i class="icon-left-open"></i> Zpět na web</a>
            </div>
            <div class="left-panel">
            </div>
        {/if}
        <div class="content">
            <div n:foreach="$flashes as $flash" class="flash {$flash->type} btn btn-warning btn-lg btn-block">{$flash->message}</div><br>

            {include content}


        </div>
    </div>


</body>
</html>