{**
 * My Application layout template.
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
*}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="robots" content="{$robots}" n:ifset="$robots">

        <title>{block title|striptags}Maz' ARMY plug.dj fun page{/block}</title>

        <link rel="shortcut icon" href="{$basePath}/favicon.ico">
        <link rel="stylesheet" href="{$basePath}/css/main.css">

        {block head}{/block}
    </head>

    <body>
        <script> document.documentElement.className += ' js'</script>

        <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

        <div id="slideshow"></div>
        <div class="wrapper">
            <div class="header">
                <div class="justification">
                    <div class="logo">
                        <a n:href="Homepage:default"><img src="{$basePath}/img/plug-logo-mazaarmy-w-200x39.png"/></a>
                    </div>
                    <div class="navigation">
                        <img style="position: absolute; top: 0; right: 0; border: 0;" src="{$basePath}/img/beta-ribbon.png" alt="Stránky jsou v betě"></a>
                        <nav>
                            <ul>
                                <li class="nav-link"><a n:href="Updates:">Updaty</a></li>
                                <li class="dividing-line">|</li>
                                <li class="nav-link"><a n:href="Faq:">FAQ</a></li>
                                <li class="dividing-line">|</li>
                                <li class="nav-link"><a n:href="Aboutus:">O nás</a></li>
                                <li class="dividing-line">|</li>
                                <li class="nav-link"><a n:href="Magazine:">Časopis PLUGUJEME</a></li>
                                <!-- <li class="dividing-line">|</li>
                                <li class="nav-link"><a n:href="Tshirts:">Trička</a></li> -->
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="content">
                {include content}

            </div>
            <footer>
                <p>&copy; Jan Kurš</p>
            </footer>
        </div>

        <div style="position:fixed;bottom:0;left:0;width:20px;height:20px;" onclick="location.href =
             {if $user->isLoggedIn()}
                 {link Admin:}
             {else}
                 {link Sign:in}
             {/if}">&nbsp;</div>


        {block scripts}
        <script src="{$basePath}/js/netteForms.js"></script>
        <script src="{$basePath}/js/main.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script>
            var photos = [{foreach $slides as $slide}
            {$baseUrl} + '/' + {$slide->main_url},
            {/foreach}];
            var current = 0;
            function slideshow() {
                $('#slideshow').animate({
                            opacity: 0
                                    }, 800, function() {
                    $('#slideshow').css("background-image", "url(" + photos[current] + ")");
                                $('#slideshow').animate({
                                    opacity: 1
                                                }, 800);
                                            });
                                            if (current == photos.length - 1) {
                    current = 0;
                            } else {
                    current++;
                            }
                        }
                        $(document).ready(function() {
                interval = setInterval(function() {
                    slideshow();
                            }, 4000);
                        });
            </script>
            {/block}
        </body>
    </html>
