/*Obecné nastavení*/

html{
    min-width: 960px;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 30px;
}

h1, h2, h3{
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

ul, ol{
    margin: 0;
    padding: 0;
}

[class^="icon-"], [class*=" icon-"]{
    width: auto;
}

.showArticle{
    cursor: pointer;
}


/*Horní panel*/

.upper-panel{
    width: 100%;
    height: 50px;
    background-color: #282c35;
}

.upper-panel a, a:visited, a:checked{
    color: #2BC5F8;
    text-decoration: none;
    outline: 0;
}

.user-panel{
    float: right;
}

.upper-panel a:hover{
    color: #fff;
    background: #000;
}

.navbar-brand-left{
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    width: 225px;
}

.navbar-brand-right{
    float: right;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.dropdown-menu{
    background-color: #282c35;
    margin: 2px 130px 0;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.dropdown-menu>li>a{
    color:#2BC5F8;
}

.dropdown-menu>li>a:hover{
    color: #fff;
    background: #000;
}


/*Levý panel*/

.left-panel{
    border-top: 1px #e5e5e5 solid;
    float: left;
    height: 1000px;
    min-height: 100%;
    width: 225px;
    background-color: #282c35;
}

.left-panel li{
    height: 40px;
    padding-left: 15px;
    display: block;
    line-height: 40px;
    font-size: 16px;
}

.left-panel a, a:hover, a:visited, a:active{
    text-decoration: none;
    color: #2BC5F8;
}

.left-panel li:hover{
    color: #fff;
    background-color: #000;
}

nav a.active{
    color: #ffff00;
}

/* content */

.content{
    padding: 15px;
    float: left;
    width: 700px;
}

.add-new{
    width: 100%;
    margin: 0 auto;
}

/* article */

article>footer{
    text-align: center;
}

article>.description{
    text-indent: 15px;
}

/* staff */

.staff img.avatar{
    float: left;
}

article .staff{
    min-height: 150px;
}