body{
    background-color: #000;
    font-family: arial;
}

*{
    margin: 0;
    padding: 0;
}

.content a, a:visited{
    color: #fff;
    cursor: pointer;
}

.wrapper{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    color: #fff;
    float: left;
}

.header{
    background-color: #000;
    position: absolute;
    float: left;
    margin: 0 auto;
    width: 100%;
    height: 60px;
    color: #ffffff;
    z-index: 500;
}

.logo{
    margin-top: 10px;
    float: left;
}

.navigation{
    float: right;
    padding-top: 20px;
}

nav li{
    list-style: none;
    text-decoration: none;
    float: left;
}

nav .dividing-line {
    padding-left: 15px;
    padding-right: 15px;
}

.nav-link a:hover{
    background: #2BC5F8;
    color: #ffffff;
    text-decoration: none;
}

.justification{
    margin: 0 auto;
    width: 960px;
}

nav a {
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;

    /* -- CSS3 Transition - define what the transition will be applied to (i.e. the background) -- */
    -webkit-transition: background 0.5s linear;
}

.image-slider{
    width: 100%;
    height: 400px;
    background-color: brown;
    overflow: hidden;
}


#slideshow {
    position: absolute;
    z-index: 175;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-color: #000;
    background-image: url('../img/slide1.jpg');
    width: 100%;
    color: #fff;
    margin-top: 60px;
    height: 400px;
}

.content{
    padding-top: 470px;
    margin: 0 auto;
    width: 960px;
}

article{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 50px;
    background-color: #282c35;

    -webkit-box-shadow: 1px 1px 5px rgba(43, 197, 248, 0.75);
    -moz-box-shadow: 1px 1px 5px rgba(43, 197, 248, 0.75);
    box-shadow: 1px 1px 5px rgba(43, 197, 248, 0.75);
}

article p{
    text-indent: 10px;
}

article .info{
    font-size: 12px;
    padding-bottom: 20px;
}

.staff{
    min-height: 150px;
}
img.avatar{
    float: left;
}

footer{
    text-align: center
}