{block title}
O nás
{/block}

{block memberRow}
<article class="staff" id="{$data->rank}">
    <img src="{$basePath}/img/avatars/avatar{$data->avatar}.png" class="avatar">
    <h2><img src="{$basePath}/img/ranks/{$data->rank->name|lower|toAscii}-rank.png">{$data->users->username}</h2>
    <div>{$data->realname}</div>
    <div>Věk: {if ($data->age == 0)} Je nesmrtelný{else}{$data->age} let{/if}</div>
    <div class="rank">Hodnost: {$data->rank->name}</div>
</article>
{/block}

{block content}

<p>Jsme fanoušci sledující slavného youtubera, letsplayera, kameramana,
    střihače a vůbec tvořiče pořadu Re-Play (běží na Prima Cool každou sobotu po"O")</p>
<br>

<h1>Admin Team</h1>
<br>

<h2>Host, Co-Host</h2>
{if count($hosts)}
    {foreach $hosts as $data}
        {include #memberRow, $data}
    {/foreach}
{else}
    <article id="Host-Co-Host">
        Zatím nebyl přidán žádný člen s hodnoustí <b>Host nebo Co-Host</b>!
    </article>
{/if}


<h2>Managers</h2>
{if count($managers)}
    {foreach $managers as $data}
        {include #memberRow, $data}
    {/foreach}
{else}
    <section id="Manager">
        Zatím nebyl přidán žádný člen s hodnoustí <b>Manager</b>!
    </section>
{/if}

<h2>Bouncers</h2>
{if count($bouncers)}
    {foreach $bouncers as $data}
        {include #memberRow, $data}
    {/foreach}
{else}
    <section id="Bouncer">
        Zatím nebyl přidán žádný člen s hodnoustí <b>Bouncer</b>!
    </section>
{/if}

<h2>Resident DJ</h2>
{if count($dj)}
    {foreach $dj as $data}
        {include #memberRow, $data}
    {/foreach}
{else}
    <section id="Resident-DJ">
        Zatím nebyl přidán žádný člen s hodnoustí <b>Resident DJ</b>!
    </section>
{/if}